.gitconfig
.config/vifm/vifminfo
anaconda3
.bash_history
.bash_logout
.cache
.conda
.condarc
.fzf
polybar
zsh-syntax-highlighting
Desktop
Documents
Downloads
.gconf
.gnome
.gnupg
.ipython
./picom
.jupyter
.keras
.lesshst
.local
.mozilla
Music
.mycli-history
.mycli.log
.myclirc
.mysql_history
.nv
.nvidia-settings-rc
nvim.appimage
.oh-my-zsh
Pictures
.pki
.profile
Public
.pylint.d
.python_history
.selected_editor
snap
.ssh
.sudo_as_admin_successful
.swo
.swp
.synaptic
Templates
.themes
.thunderbird
tmp
Videos
.vim
.viminfo
.vimrc
_vimrc
vimwiki
.wget-hsts
.wine
x-special
.zcompdump
.zcompdump-nova-striker-5.8
.zoom
.zsh_history
