autostart
balena-etcher-electron
beekeeper-studio
Code
croc
dconf
enchant
eog
evolution
gedit
gh
gnome-control-center
gnome-games
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
gtk-3.0
gtk-4.0
ibus
kdeconnect
kdeglobals
kdenlive-layoutsrc
kdenliverc
libreoffice
matplotlib
menus
mimeapps.list
nautilus
neofetch
nitrogen
obs-studio
pulse
QtProject.conf
remmina
stacer
terminus
torbrowser
totem
transmission
Unknown Organization
update-notifier
user-dirs.dirs
user-dirs.locale
yelp
zoomus.conf
